[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
numpy = "*"
requests = "*"
beautifulsoup4 = "*"
markovgen = "*"
xhtml2pdf = "*"

[requires]
python_version = "3.7"
